fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.3.0
    hooks:
      - id: detect-secrets
        exclude: tests/fixtures/.*.json
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        language: system
        entry: uv run -- ruff format .
        pass_filenames: true
        files: \.py$
      - id: ruff
        name: ruff
        language: system
        entry: uv run -- ruff check --fix
        pass_filenames: true
        files: \.py$
      - id: pytest-check
        name: pytest-check
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
        args: [
          "tests/"
        ]
      - id: pip-audit
        name: pip-audit
        language: system
        pass_filenames: false
        entry: >-
          sh -c '[ -n "$(pip-audit --format=json 2>/dev/null | jq ".dependencies[] | select(.vulns[]? .fix_versions[]?)")" ] && { pip-audit; exit $?; } || exit 0'
